.changeToComplete{
    background-color: lightgray !important;
    color: darkgray !important;
    opacity: 0.75 !important;
}

.buttonChange {
    opacity: 0.5;
}
body {
    margin: 0;
    background-color: #D1CAA1;
    padding: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
    
}
#head {
    text-align: center;
    margin-bottom: 3rem;
    background-color: #9E829C;
    margin-right: 40%;
    margin-left: 40%;
    padding: 10px;
    border: 1px #DCDCDC;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #66717E;
}

#taskInputs {
    margin-bottom: 4rem;
    text-align: center;
    
}


input[type=text] {
    background-color: #383B53;
    color: #D4D6B9;
    box-shadow: 10px 5px 5px #66717E;
    border: 1px #DCDCDC;
    border-radius: 10px;
    padding: 0.5rem;
}

.taskCard {
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #383B53;
    color: #D4D6B9;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    padding: 1rem;
    border: 1px #DCDCDC;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 10px 5px 5px #66717E;
}

#tasksDisplay {
    display: flex;
    flex-wrap: wrap;
    
    
}

.descriptionStyle {
    margin-bottom: 1rem;
    font-style: oblique;
}



#top, #bottom, #left, #right {
    background-color: #508991;
    position: fixed;
}
#left, #right {
    top: 0;
    bottom: 0;
    width: 30px;
}
#left {
    left: 0;
}
#right {
    right: 0;
}
#top, #bottom {
    left: 0;
    right: 0;
    height: 30px;
    
}
#top {
    top: 0;
}
#bottom {
    bottom: 0;
}